body{
	margin:0;
	padding:0;
}

/*-----nav------*/
/*--box--*/

.ui-navigation{
	padding:0 20px 0 8px;
	height:50px;
	background-color: #0e90d2;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.ui-navigation-content{
	display: flex;
	flex-direction: row;
	color:white;
	line-height: 50px;
}

/*--icon--*/

.icon{align-self: center;}
#icon-left{margin-right:7px;}
#icon-down{margin-left:7px;}

/*--btn--*/

.ui-navigation-btn{
	padding:0 10px 0 10px;
	margin-left:8px;
	cursor:pointer;
	/*border:solid 1px black;*/
}
.ui-navigation-btn:hover{
	background-color: #0d89c7;
	transition:background-color 0s linear;
}
.btn-special{
	margin-left:12px;
	display: flex;
	flex-wrap: wrap;
}

/*-----center_content------*/
/*--box--*/
a{
	text-decoration:none;
	color:white;
}
a:hover{
	text-decoration:none;
}
.ui-content{
	margin:40px 25px 35px 25px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

/*--title_item--*/

.ui-content-title{
	width:440px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.title-list-item{
	margin: 0 30px 10px 0;
	display: flex;
	flex-direction: row;
}
.title-item-count{
	margin-left: 8px;
	padding:2px 8px 0 8px;
	background-color:#5eb95e;
	color:white;
	font-size: 12px;
}
#count-title{
	padding:5px 8px 0 8px;
	height:27px;
	font-size: 16px; 
	background-color: #0e90d2;
	align-self: center;
	cursor: pointer;
}
.count-color-orange{background-color:#f37b1d;}
.count-color-skyblue{background-color: #0e90d2;}

/*-btn_submit--*/

.ui-content-submit{
	margin-top: 22px;
	display: flex;
	flex-direction: row;
}
.btn-submit{
	margin-left: 5px;
	padding:7px 0 0 0;
	height:30px;
	width:80px;
	color:white;
	font-size:15px;
	text-align: center;
	background-color: #5eb95e;
	cursor: pointer;
}
.btn-submit:hover{
	background-color: #4aaa4a;
	transition: background-color 0.3s linear ;
}
#btn-submit-codes{background: #0e90d2;}
#btn-submit-codes:hover{background: #0c79b1;}
/*.btn-submit:hover a{
	color:#323276;
}*/


/*--message--*/

.ui-content-item{
	width: 100%;
	margin-top: 20px;
}
.item-samples{
	border:solid 1px #cccccc;
}
.item-samples div{
	/*padding:3px 0 0 3px;*/
	border-bottom: solid 1px #cccccc;
	padding:3px 0 5px 5px ;
	/*height:25px;*/
	font-size:15px;
}
.smaples-answer{
	background-color: #eeeeee;
	font-size:13px;
	color:#7e2222;
}

/*-----bottom-----*/
/*--box--*/
.ui-bottom{
	margin:0 0 12px 0;
}
.bottom-item{
	margin-bottom:6px;
	text-align: center;
	font-size:14px;
}