<!doctype html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="dt-stack">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <link rel="Shortcut Icon" href="<%= htmlWebpackPlugin.options.assets.favicon %>" type="image/x-icon">
    <script src="<%= htmlWebpackPlugin.options.assets.config_js %>"></script>
    <script src="./constants/live2d/js/live2d.js"></script>
  </head>
  <body>
    <div id="root"></div>
  </body>
</html>